<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/js.css')}}">
</head>
<body>
    <!-- <div>
       <button type="button" id="button" onclick="mF()">Kliknij</button> 
       <button type="button" id="reset" class="eldor" onclick="">Reset</button> 
        <ul id="test">
            <li id="testt" class="test2">Li 1</li>
            <li id="testt" class="test2">Li 2</li>
            <li id="testt" class="test2">Li 3</li>
            <li id="testt" class="test2">Li 4</li>
            <li id="testt" class="test32">Li 55</li>
        </ul>
    </div> -->
    <div class="box1" id="container">
        <div class="inner">
            <p class="p1">Sebsatian Król</p>
            <p class="p2">Firma ElDOR</p>
        </div>
    </div>
    <div class="box2" id="container">
        <div class="inner">
            <p class="p1">Test 123</p>
            <p class="p2">Nienawidze js</p>
        </div>
    </div>
</body>

    <script src="{{ url_for('static', filename='js/script1.js')}}"></script>

</html>